# Ignore all CSV files
*.csv

# Ignore TensorBoard log directories (commonly named logs or runs)
tensorboard_logs/
tensorboard_logs_rlclass/

# Ignore virtual environment directories
rlenv/


# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore VS Code settings
.vscode/